<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feed</title>
    <link href="css/estilo_feed.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <a href="#">
        <img src="img/header.jpg" alt="feed header" , title="feed header" />
      </a>
    </header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Quem Somos</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav>

    <main class="main">
      <header>
        <h1>Aqui voce pode ver os items disponiveis!</h1>
        <p>Items que os vizinhos estam oferecendo ou procurando</p>
      </header>
      <section>
        <a href="#">
          <img
            src="img/perfil.png"
            alt="perfil"
            ,
            title="perfil"
            class="perfil"
          />
        </a>
        <ul>
          <li>Marcelo souza</li>
          <li>Marcelo@souza.com</li>
          <li>Apto 12 Bloco20</li>
          <li>Seguir - Mensagem</li>
          <li>3 Vizinhos</li>
          <li>3 Emprestimos</li>
          <li>Recomendeme</li>
          <li>0 Recomendaçoes</li>
        </ul>
      </section>

      <section class="items">
        <header>
          <h1>
            Ultimos items
          </h1>
          <p>
            Aqui voce encontra os items publicados recentemente
          </p>
        </header>

        <article>
          <a href="#">
            <img src="img/ferramentas.jpeg" alt="item" title="item" />
          </a>
          <h2>Item Nome</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </article>
        <article>
          <a href="#">
            <img src="img/ferramentas.jpeg" alt="item" title="item" />
          </a>
          <h2>Item Nome</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </article>
        <article>
          <a href="#">
            <img src="img/ferramentas.jpeg" alt="item" title="item" />
          </a>
          <h2>Item Nome</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </article>
        <article>
          <a href="#">
            <img src="img/ferramentas.jpeg" alt="item" title="item" />
          </a>
          <h2>Item Nome</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </article>
        <article>
          <a href="#">
            <img src="img/ferramentas.jpeg" alt="item" title="item" />
          </a>
          <h2>Item Nome</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </article>
        <article>
          <a href="#">
            <img src="img/ferramentas.jpeg" alt="item" title="item" />
          </a>
          <h2>Item Nome</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </article>
      </section>
    </main>
    <footer>
      Footer.php
    </footer>
  </body>
</html>
