/* Geral Inicio*/
body,
p,
h1,
h2,
input,
textarea {
  margin: 0;
  font-family: Roboto;
}

h2 {
  font-size: 30px;
}

/* Geral Fim*/
.main {
  width: 100%;
  padding: 5px;
  background-color: #b1aeae;
  margin: 0;
}

/* Perfil  Inicio*/
.user_data {
  width: 100%;
  margin: 20px 0 0 5px;
  background-color: #cf6d81;
  border-radius: 10%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.user_data h1,
h2,
p {
  font-family: arial;
  text-align: center;
}

.user_data a {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.user_data a img {
  height: 250px;
  width: auto;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
/* Perfil Fim*/
/* Panel esquerdo Fim*/

/* Panel dereito */
/* section dos items dos feeds */
.div_feed_items {
  width: 100%; /*ocupa o 100% do tamanho das colunas*/
  margin: 20px 0 0 5px;
  background: yellowgreen;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  padding-bottom: 10px;
}

.div_feed_items h1,
h2 {
  text-align: center;
}
.div_feed_items .items {
  width: calc(96% -40px);
  margin: 20px 10px 0 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
/* Seccao do perfil do usuario Inicio */
.div_feed_items .items .items_usuario {
  text-align: left;
}
.div_feed_items .items .items_usuario ul li {
  text-decoration: none;
  display: inline-block;
}

.div_feed_items .items .items_usuario ul li h3 {
  margin-left: 20px;
  font-weight: bold;
  color: #ed1e24;
  font-size: 2em;
  margin-top: 50px;
}
.div_feed_items .items .items_usuario ul li p {
  line-height: 25px;
  font-size: 2em;
  margin-left: 20px;
}
.div_feed_items .items .items_usuario a img {
  height: 250px;
  width: auto;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-left: 10px;
  position: relative;
}
.div_feed_items .items .items_usuario .opcoes_usuario_avaliacao {
  text-align: center;
}
.div_feed_items .items .items_usuario .opcoes_usuario_avaliacao li {
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
.div_feed_items .items .items_usuario .opcoes_usuario_avaliacao li a img {
  height: 40px;
}

/* Seccao do perfil do usuario Inicio */

/* Seccao do item Inicio */
.div_feed_items .items .items_detalhe {
  text-align: center;
}
.div_feed_items .items .items_detalhe h2 {
  font-weight: bold;
  color: #ed1e24;
}
.div_feed_items .items .items_detalhe .item_detalhe_ferramenta img {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  text-align: center;
  width: calc(80% - 40px);
  height: 350px;
}
.div_feed_items .items h1,
h2,
p {
  font-family: Roboto;
  text-align: center;
}

/* Opcoes do item Inicio */
.div_feed_items .items .items_detalhe .opcoes_usuario_item {
  padding: 20px;
}
.div_feed_items .items .items_detalhe .opcoes_usuario_item li {
  text-decoration: none;
  color: #a60356;
  font-family: helvetica, arial;
  font-size: 1.3em;
  padding: 50px;
  display: inline-block;
}

.div_feed_items .items .items_detalhe .opcoes_usuario_item li a img {
  border-color: black;
  height: 40px;
}

/* detalhe item texto*/

.div_feed_items .items .items_detalhe p {
  margin-left: auto;
  margin-right: auto;
}
/* Opcoes do item Fim */
/* Seccao do item Fim */