header {
  flex-basis: 100%;
  text-align: right;
}

section nav ul {
  list-style: none;
}

section nav ul li {
  display: inline-block;
  border: 2px solid #cccccc;
  padding: 5px 15px;
}

section nav ul li a {
  text-decoration: none;
  color: #555;
}
