/* Geral Inicio*/
body,
p,
h1,
h2,
input,
textarea {
  margin: 0;
  font-family: Josefin Sans;
}

/* Geral Fim*/

.main {
  width: 100%;
  /* background-color: rgba(196, 196, 196, 0.25); */
  background: white;
  background-color: white;
  margin: 10px 0 0 0;
}

/* Perfil  panel esquerdo*/
.user_data {
  width: calc(100% - 40px);
  margin: 20px 0 0 20px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  padding-bottom: 10px;
}
.user_data h1,
h2 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  padding-top: 2rem;
}

.user_data p {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
}
.user_data a {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.user_data a img {
  height: 250px;
  width: auto;
  border-radius: 50%;
  margin-right: auto;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
/* Perfil Fim*/

/* Feed Inicio */

.div_feed_items {
  width: calc(100% - 40px); /*ocupa o 100% do tamanho das colunas*/
  margin: 20px 0 20px 5px;
  background: white;
  border-radius: 10px;
  position: relative;
  padding-bottom: 10px;
}

.div_feed_items h2 {
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  text-shadow: 1px #111111;
}
.div_feed_items p {
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}

/* seccao do usuario na publicaco - Inicio */
.card {
  margin-top: 20px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  background: white;
}
.card-body {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
}
.card-body .info_usuario {
  text-align: left;
}
.card-body .info_usuario .perfil a img {
  height: 150px;
  text-align: left;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 10px;
}

/* CSS para a seccao de nova publicacao nos feeds */
.card-body .info_usuario_publicacao h3 {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 25px;
  text-align: left;
}

.card-body .info_usuario_publicacao p {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
}

.card-body .info_usuario_publicacao .nova_publicacao a img {
  height: 100px;
  text-align: left;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 10px;
}

.card-body .text_nova_publicacao {
  box-sizing: border-box;
  border-radius: 10px;
}

.card-body .text_nova_publicacao textarea {
  margin: 10px;
  padding-top: 10px;
}
/* CSS do div da resposta a uma publiccacao */

.info_usuario_resposta {
  border-top: 1px solid #c4c4c4;
  margin: 10px;
}
.detalhe_item .resposta {
  text-align: center;
  float: right;
}

.detalhe_item .resposta textarea {
  background-color: white;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

/* Opcoes para responder a uma publicacao */

.opcoes_usuario {
  text-align: left;
}
.opcoes_usuario h3 {
  color: black;
  margin-top: 20px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}
.opcoes_usuario p {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 25px;
  text-align: left;
}

.opcoes_usuario_avaliacao ul li {
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
.opcoes_usuario_avaliacao ul li a img {
  height: 35px;
}

.opcoes_usuario_avaliacao ul li p {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 0;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
}

/* Opcoes do item publicado - Inicio */

.detalhe_item {
  text-align: left;
}
.detalhe_item a img {
  width: calc(100% - 40px);
  margin: 5px 5px 0 20px;
  padding: 10px 0 0 0;
  max-height: 250px;
  border-radius: 10px 10px 0px 0px;
}

.detalhe_item h3 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 25px;
}

.detalhe_item h5 {
  text-align: left;
  padding: 10px 0 0 0;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 25px;
  margin: 0 25px 0 25px;
}
.acoes_detalhe_item {
  display: inline;
  text-align: center;
}

.acoes_detalhe_item a img {
  width: 40px;
  margin-left: auto;
  margin-right: auto;
}
/* Opcoes do item Fim */
