/* Geral Inicio*/
body,
p,
h1,
h2,
input,
textarea {
  margin: 0;
  font-family: Roboto;
}

h2 {
  font-size: 30px;
}
/* Geral Fim*/

.main {
  width: 100%;
  background-color: #b1aeae;
  margin: 0;
}

/* Perfil  panel esquerdo*/
.user_data {
  width: calc(100% - 40px);
  margin: 20px 0 0 20px;
  background-color: #e5e5e5;
}
.user_data h1,
h2,
p {
  font-family: arial;
  text-align: center;
}

.user_data a {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.user_data a img {
  height: 250px;
  width: auto;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
/* Perfil Fim*/

/* Feed Inicio */
.div_feed_items {
  width: calc(100% - 40px); /*ocupa o 100% do tamanho das colunas*/
  margin: 20px 0 20px 5px;
  background: #e5e5e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  padding-bottom: 10px;
}

.div_feed_items h1,
h2 {
  text-align: center;
}
.div_feed_items .items {
  width: calc(96% -40px);
  margin: 20px 10px 0 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

/* seccao do usuario no card do item */

.card-body .info_usuario .perfil a img {
  height: 200px;
  text-align: left;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 10px;
}

.opcoes_usuario {
  float: left;
}
.opcoes_usuario h3 {
  margin-left: 20px;
  font-weight: bold;
  color: #ed1e24;
  font-size: 2em;
  margin-top: 20px;
}
.opcoes_usuario p {
  margin-right: auto;
  margin-left: auto;
  line-height: 30px;
  margin-top: 5px;
}

.opcoes_usuario_avaliacao ul li {
  display: inline-block;
  text-decoration: none;
}
.opcoes_usuario_avaliacao ul li a img {
  height: 25px;
}
/* Opcoes do item Inicio */

.detalhe_item {
  padding: 10px;
}
.detalhe_item a img {
  width: calc(60% - 40px);
  margin: 5px 5px 5px 10px;
  padding: 10px 0 0 0;
  max-height: 250px;
}
.detalhe_item h5 {
  text-align: center;
  padding: 10px 0 0 0;
}

.acoes_detalhe_item ul li {
  text-decoration: none;
  padding: 1px;
  color: #e5e5e5;
}
.acoes_detalhe_item ul li a img {
  border-color: solid black;
  height: 40px;
}

/* Opcoes do item Fim */
