/* CSS da pagina de exemplo com os include */

/* CSS do main */
.main {
  max-width: calc(1000px -80px);
  width: calc(96% -40px);
  background-color: #cccc;
  padding: 40px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main header {
  flex-basis: 100%;
}

.main section {
  flex-basis: calc(50% - 80px);
  padding: 20px;
  background-color: #ccc;
  margin: 20px 0;
}

/* FIM main */

/* Estilo para os elementos do panel Perfil  UserData.php*/
.user_data img {
  height: 250px;
  width: auto;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* UserData.php Fim*/

/* Estilo da secao dos items do Feed */
.main .container .div_feed_items {
  flex-basis: calc(100% - 40px);
}
.main .container .div_feed_items .article_items {
  flex-basis: calc(100% - 40px);
  max-width: 800px;
  left: 582px;
  top: 206px;
  margin: 20px 0;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.main .container .div_feed_items .article_items h2 {
  height: 40px;
  text-align: center;
}

.main .container .div_feed_items .article_items p {
  font-weight: lighter;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
/* Feed Fim*/
