section div {
  background-color: #cccccc;

  text-align: right;
  overflow: hidden;
}

section nav {
  float: right;
  margin: 40px 20px 0 20px;
}

section nav ul li {
  display: inline-block;
  border: 2px solid #a60356;
  padding: 5px 15px;
  box-sizing: border-box;
}

section nav ul li a {
  text-decoration: none;
  color: #a60356;
}

.logo {
  float: left;
  position: relative;
  margin: 10px 20px 20px 20px;
}
